
#firstHeader {
  filter: drop-shadow(2px 0px 1px rgba(21, 21, 21, 0.5));
 
}


#rowHeader {
  filter: drop-shadow(2px 0px 1px rgba(21, 21, 21, 0.5));
 
}
#lastHeader {
  filter: drop-shadow(-2px 0px 1px rgba(21, 21, 21, 0.5));
 
}

#lastRow {
  filter: drop-shadow(-2px 0px 1px rgba(21, 21, 21, 0.5));
 
}
